#formularioCustomer
{
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    
}
.formSubgroup
{
    margin-bottom: -10px;
}

.formSubgroup lable
{
    display: inline-block;
    margin-bottom: 5px;
}

.formSubgroup input
{
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 14 px;
}
.formSubgroup.success input
{
    border-color: #2ecc71;
}
.formSubgroup.errorCustomer input
{
    border-color: #e74c3c;
}

.formSubgroup i 
{
    position: absolute;
    top: 45px;
    right: 10px;
    visibility: hidden;
}
.formSubgroup.success i.fa-check-circle
{
    color: #2ecc71;
   visibility: visible;
}
.formSubgroup.errorCustomer i.fa-exclamation-circle
{
    color: #e74c3c;
   visibility: visible;
}
.formSubgroup small
{
    visibility: hidden;
}
.formSubgroup.errorCustomer small
{
    color: #e74c3c;
    visibility: visible;
}



.formatSubgroup
{

    position: relative;
     margin-bottom:-30px;
}

.formatSubgroup h1
{
    display: inline-block;
    margin-bottom: 5px;
}


.formatSubgroup.success h2
{
    color: #2ecc71;
}
.formatSubgroup.errorFormat h2
{
    color: #e74c3c;
}

.formatSubgroup i 
{
    position: relative;
    left: 20px;
    visibility: hidden;
}
.formatSubgroup.success i.fa-check-circle
{
    color: #2ecc71;
   visibility: visible;
}
.formatSubgroup.errorFormat i.fa-exclamation-circle
{
    color: #e74c3c;
   visibility: visible;
}
